@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.fo{
    font-family: 'Redressed', cursive;
    font-size: 20px;
}
.container{
    
    margin: 0 auto;
    width: 90%;
}
header{
    display: inline-block;
    width: 100%;
    background-color: #8e14ff;
}
.head-left{
    color:aliceblue;
    float: left;
    display: relative;
    padding: 5px 0px 5px 0px;
    
}
.head-left a{
    text-decoration: none;
    color:aliceblue;
}
.logo{
    height: 100px;
    display: absolute;
    float: left;
    padding-right:10px;
    margin:10px 0 10px 0;
}
.title{
    padding-top: 20px;  
    float: left;
}
.menu{
    float: right;    
    padding-top: 50px;
    
}
.menu a{
    text-decoration:none;
    color:#fff;
    float: left;
    padding:10px;
    font-size: 20px;
    transition: color 0.5s;
}
.menu a:hover{
    color:#000;
}
/*Index page content*/
.ab h1 , .ab p{
    text-align: center;
    width: 40%;
    margin: 0 auto;
    color: #fff;
}
.textarea-i h1{
    padding-bottom: 15px;
}
.textarea-i p{
    font-size:17px;
}
.ab{
    background: url("images/logo_Dec.png");
    background-size: cover;
    height: 500px;
}
.bac{
    background-color: rgba(26, 47, 117, 0.8);
    height: 100%;
}
.ab h1{
    padding-top:50px;
}
.con{
    position: relative;
    height:600px;
}
.down_i{
    margin-top:100px;
}
.card{
    display:flex;
    flex-direction: row;
    justify-content:center;
    background:none;
    position:absolute;
    top:300px;

}
.ic{
    color:#242a56;
    width:20%;
    height:300px;
    PADDING:20px;
    box-shadow: 0 0 15px 2px;
    margin:0px 30px 20px 30px ;
    background:#fff;
}
.ic p{
    font-size:17px;
    font-weight:50px;
}
.ic li{
    font-size:17px;
    font-weight:50px;
}
.ic .fs-16{
    font-size: 16px;
}
.img_right{
    width:50%;
    float:left;
    height:600px;
    margin-right: 70px;
}
.le h2{
    font-size:30px;
    font-weight:bold;
    padding-bottom: 10px;
}
.le a{
    text-decoration: none;
    padding-left: 20px;
    color:rgba(25, 112, 241, 0.637);
    line-height:27px;
    font-size:20px;
    line-height:35px;
    transition: color 0.7s;
}
.le a:hover{
    color:rgb(8, 53, 121);
    transition: color 0.3s;
}
.f18 li , .f18 p{
    font-size: 17px;
}
/*Main contant in About*/
.mt_2{
    margin-top: 10px;
}
.container h1{
    font-size: 1.5em;
}
.textarea{
    font-size:1.3em;
    width: 90%;
    margin:0 auto;
}
.textarea p{
    width:95%;
    margin:0 auto;
    padding-bottom:30px ;
}
.textarea span{
    font-size:40px;
    font-weight: bold;
    line-height: 1;
}
/* HelpLine Page Main Contant */
.services{
    background-image: url("images/sev_bac.jpg");
    background-size: cover;
    width:100%;  
}
.services_bac{
    background-color: rgba(24, 17, 17, 0.6);
    height:300px; 
}
.services_bac h1 ,.services_bac h3 ,.services_bac p{
    text-align: center;
    width:50%;
    margin:0 auto;
    color:#fff;
}
.services_bac h1
{
    padding-top: 40px;
    font-size:50px;
    font-weight: 500px;
}
.help{
    text-align: center;
}
.help h2{
    margin-top: 40px;
    font-size: 42px;
    padding-bottom: 20px;
}
.help p{
    width:50%;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 30px;
}
.Helpline {
    width:80%;
    margin: 0 auto;
}
.Helpline h2{
    text-align: center;
    font-size: 30px;
    padding-top:20px;
}
.Helpline li{
    font-size: 20px;
    font-weight: Bold;
}
.Helpline p{
    padding-bottom: 10px;
}
.Helpline a{
    text-decoration: none;
}
.textarea_S hr{
    margin-top:10px;
}
.textarea_S h2{
    padding:20px 0;
    text-align: center;
}
/* Pride Map */
.map{
    display:flex;
    align-content:center;
    flex-flow: column wrap;
}
/* Help Page Content */
.para1 ,.para2 , .para3{
    width:80%;
    margin: 0 auto;
    display: flex;
}
.para1 img{
    float:left;
    height:530px;
    width:50%;
}
.para3 img{
    float:left;
    height:200px;
    width:50%;
}
.para1 p , .para3 p{
    font-size:1.2rem;
    width:50%;
    display: inline-block;
}
.para2 img{
    height:500px;
    width:50%;
    order:5;
}
.para2 p{
    font-size:1.2rem;
    float:left;
    width: 50%;
}
.l_20{
    margin-left:35px;
}
/* Contact page contant */
.contact{
    background: url("images/con_bac.png");
    background-size: cover;
    width:100%;  
}
.comtact_bac{
    background-color: rgba(24, 17, 17, 0.6);
    height:300px; 
    color:#fff;
}
.comtact_bac h1{
    padding-top:20px;
    font-weight:200px;
    font-size:50px;
}
.comtact_bac p , .comtact_bac h1{
    text-align: center;
}
.form{
    float:left;
    width:50%;
    padding:20px 20px 20px 20px;
    background-color: #854c8a;
    color:#f2f2f3;
    clear:both;
    font-size:25px;
    margin: 20px 20px;
}
.form input , .form textarea{
    padding:10px;
    width:100%;
}
.ml-2{
    margin-right: 10px;
}
.form .bu{
    width:auto;
    display:block;
    text-align: center;
    margin: 0 auto;
}
.form label{
    padding-bottom: 30px;
}
.git{
    margin:20px;
}
.git h1 , .git h3{
    padding-bottom: 10px;
}
.git a , .git i{
    padding-bottom:20px;
    font-size: 20px;
    text-decoration:none;
    color:#13436b;
}
.form .send{
    background:rgb(45, 218, 10);
    padding:5px;
    color:rgb(14, 10, 10);
    display:inline;
    border-radius: 10px;
}
.form h2{
    font-size: 1.2em;
}
#pronoun, #Pronoun{
    padding:5px 10px 5px 10px;
}
.thankyou_message{
    display:none;
}
.thankyou_message p{
    display:inline;
    color:#000;
    background-color:springgreen;
    padding: 5px;
}
.bu{
    font-weight: bold;
    padding:15px;
}
/* footer area */
footer{
    
    width: 100%;
    background: #242A56;
    color:rgb(231, 202, 106);
    display: inline-block;
}
.fo-logo{
    height:120px;
    margin-top: 10px;
    float:left;
}
footer p{
    font-weight:bold;
}
footer a{
    padding-left: 0px;
    color:#fff;
    font-size: 25px;
    transition: color 0.5s;
}
footer a:hover{
    color:rgb(29, 136, 207);
}
.ml{
    padding-left:0;
}
.fo-left{
    float: left;
}
.fo-right{
    float: right;
    padding-right: 80px;
    padding-top: 20PX;
    font-size: 20px;
    margin-bottom: 10px;
}
.fo-right h1{
    font-size:36px;
}
.f_title{
    float: right;
    margin-top:50px;
    margin-left:10px;
}
.f_title>p{
    font-size: 20px;
}
.fo-right i{
    font-size:20px;
}
.end{
    clear: both;
    text-align: center;
}
hr{
    width:60%;
    margin:10px auto;
}
.f-container{
    width:90%;
    margin:0 auto;
}
.fo-left .fab{
    padding-left: 20px;
}
#menu{
    display:none;
    
}
/* Tab View */
@media(max-width:1400px)
{
    .ic p , .ic li{
        font-size:1.4em;
    }
    .ic .fs-16{
        font-size:1.3em;
    }
    .ic{
        width:30%;
        height:330px;
        margin:0 auto;
    }
}
@media(max-width:1240px)
{
    .ic{
        width:30%;
        height:330px;
        margin:0 auto;
    }
    .ic .fs-16{
        font-size:1em;
    }
    .ab{
        background: url("images/logo.png");
        background-size: cover;
    }
    .bac p , .bac h1{
        width:90%;
    }
    .ic p , .ic li{
        font-size:1.1em;
    }
    .le h2{
        font-size:1.8em;
    }
    .le a{
        font-size:1.2em;
    }
}
/* MObile View */
@media (max-width:950px){
    #menu{
        float:right;       
        font-size:35px;
        text-decoration: none;
        color:#000;
        display:block;
        position: relative;
    }
    #nab{
        position: absolute;
        top:20px;
        right:20px;
    }
    .menu{
        width:100%;
        padding-top: 0;
    }
    .menu a{
        float:left;
        text-align: center;
        display: inline-block;
        width:100%;
        font-size:30px;
        border-bottom: 1px solid #000;
    }
    #dis{
        display:none;
    }
}
@media (max-width:830px)
{
    body{
        font-size: .9em;
    }
    /*About page main contant*/
    .title{
        font-size:.8em;
        padding-top: .9em;
    }
    .logo{
        height:4em;
        margin-top: .2em;
    }
    .container{
        display:relative;
        width:95%;
    }
    /* Footer */
    fo-right{
        float: left;
        padding-left:20px;
        padding-top: 20PX;
        padding-right:0;
        font-size: 15px;
    }
    /* About Main Area */
    .textarea{
        widows: 100%;
        font-size:1em;
    }
    .textarea span{
        padding-left: 10px;
    }
    .textarea p{
        width:98%;
        margin:0 auto;
        padding-bottom:50px ;
    }
    /*Index main area contant*/
    .ab p,.ab h1{
        width:100%;
        margin:0 auto;
    }
    .ab{
        background: url("images/logo.png");
        background-size: cover;
    }
    .card{
        top:350px;
        justify-content: none;
        flex-direction: column;  
    }
    .bac p{
        font-size:1em;
    }
    .con{
        height:70em;
    }
    .ic{
        height:100%;
        width:80%;
        margin:10px auto;
    }
    .img_right{
        width:100%;
        height:30em;
    }
    .le a{
        padding-left:0px;
        line-height: 1.3em;
        font-size: 1.2em;
    }
    .le li{
        margin-left:50px;
        padding-left:0;
    }
    .le h2{
        font-size:1.6em;
    }
    .bac p{
        font-size:18px;
        width:90%;
    }
    .menu a{
        font-size:1.4em;
    }
    /* Serveses Page Main Contant */
    .services_bac h1 ,.services_bac h3 ,.services_bac p{
        width:90%;
    }
    .help p{
        width:90%;
        margin: 0 auto;
    }
    .help h2{
        font-size: 2em;
    }
    .butt{
        display: flex;
        flex-direction: column;
        margin-top:10px;
        justify-items: none;
    }
    .para1 , .para2 , .para3{
        display:block;
    }
    .para1 img ,.para2 img ,.para3 img{
        width:100%;
        clear: both;
        height:500px;
    }
    .para3 img {
        height:270px;
    }
    .para1 p , .para2 p , .para3 p{
        font-size:1em;
        width:100%;
        margin-bottom: 20px;
        float:none;
    }
    /* Contact Form */
    .form{
        font-size:1.4em;
        width: 90%;
        margin:5 auto;
    }
    .thankyou_message {
        margin-top: 10px;
        text-align: center;
    }
    .form input , .form textarea{
        padding:5px;
        margin-bottom:5px;
    }
    #pronoun, #Pronoun{
        padding:5px 3px 5px 3px;
    }
    .fo-right{
        justify-items: center;
        padding-right:0;
    }
    .f-container{
        display:flex;
        flex-direction: column;
    }
    .fo-left{
        display:flex;
    }
    .f_title{
        justify-content:flex-start;
    }
    .f_title p{
        font-size: 1.2em;
    }
    .fo-right h1 {
        font-size: .9em;
    }
    .fo-right i{
        font-size: .7em;
    }
}
@media (max-width: 500px)
{
    .para3 img{
        height:100px;
    }
    .para2 img{
        height:300px;
    }
}